---
layout: splash
---


<div class="content-container">
  <br>
  <br>
  <br>

  <p>
    The Müller lab will open in Winter 2024 and will be based at the University of California, San Francisco in the <a href="https://hividgm.ucsf.edu">Division of HIV, Infectious Diseases and Global Medicine</a>. We seek to use genomic epidemiology to quantify transmission dynamics of bacterial and viral infectious diseases with the ultimate goal of informing public health interventions. 
    The lab is a part of and colocated with the

    <a href="https://eppicenter.ucsf.edu/"><img src="{{ '/assets/images/EPPIcenter.png' | relative_url }}" alt="Description of Image" style="display: block; margin-left: auto; margin-right: auto; width: 50%;"></a> 


    <!-- skip a few lines -->
    <br><br>
    The lab is currenly looking to hire new members, check out more information <a href="/join/">here</a> or reach out to <a href="mailto:nicola.mueller@muellerlab.io">nicola.mueller@muellerlab.io</a>.
  </p>
</div>
